<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Akilli_ev"
        tools:targetApi="31">
        <activity
            android:name=".MasaLambasi"
            android:exported="false" />
        <activity
            android:name=".ses_sistemi"
            android:exported="false" />
        <activity
            android:name=".akilli_kilit"
            android:exported="false" />
        <activity
            android:name=".CocukOdasi"
            android:exported="false" />
        <activity
            android:name=".CalismaOdasi"
            android:exported="false" />
        <activity
            android:name=".birinci_kat"
            android:exported="false" />
        <activity
            android:name=".zeminKat"
            android:exported="false" />
        <activity
            android:name=".kayit_ol"
            android:exported="false" />
        <activity
            android:name=".sifremi_unuttum"
            android:exported="false" />
        <activity
            android:name=".giris_ekrani"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>