<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Akilli_ev"
        tools:targetApi="31">
        <activity
            android:name=".Veranda"
            android:exported="false" />
        <activity
            android:name=".Television"
            android:exported="false" />
        <activity
            android:name=".Tablet"
            android:exported="false" />
        <activity
            android:name=".Speaker"
            android:exported="false" />
        <activity
            android:name=".SmartFood"
            android:exported="false" />
        <activity
            android:name=".Saloon"
            android:exported="false" />
        <activity
            android:name=".RobotVacuum"
            android:exported="false" />
        <activity
            android:name=".Projection"
            android:exported="false" />
        <activity
            android:name=".MotionSensor"
            android:exported="false" />
        <activity
            android:name=".Modem"
            android:exported="false" />
        <activity
            android:name=".HomeAssistant"
            android:exported="false" />
        <activity
            android:name=".FireAlarm"
            android:exported="false" />
        <activity
            android:name=".DoorLock"
            android:exported="false" />
        <activity
            android:name=".Curtain"
            android:exported="false" />
        <activity
            android:name=".Antre"
            android:exported="false" />
        <activity
            android:name=".Alarm"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".termostat_misafir_odasi"
            android:exported="false" />
        <activity
            android:name=".ocak"
            android:exported="false" />
        <activity
            android:name=".mutfak"
            android:exported="false" />
        <activity
            android:name=".misafir_odasi"
            android:exported="false" />
        <activity
            android:name=".mikrodalga"
            android:exported="false" />
        <activity
            android:name=".kahve_makines"
            android:exported="false" />
        <activity
            android:name=".kacak_tespit"
            android:exported="false" />
        <activity
            android:name=".hava_tmzlyici_misafir_odasi"
            android:exported="false" />
        <activity
            android:name=".firin"
            android:exported="false" />
        <activity
            android:name=".Buzdolabi"
            android:exported="false" />
        <activity
            android:name=".bulasik_makinesi"
            android:exported="false" />
        <activity
            android:name=".genel_cihazlar"
            android:exported="false" />
        <activity
            android:name=".AkilliPanjur"
            android:exported="false" />
        <activity
            android:name=".AkilliPerde"
            android:exported="false" />
        <activity
            android:name=".ses_sistemi_cocuk_odasi"
            android:exported="false" />
        <activity
            android:name=".pencere_kilidi"
            android:exported="false" />
        <activity
            android:name=".akilli_kilit_cocuk_odasi"
            android:exported="false" />
        <activity
            android:name=".camasir_makinesi"
            android:exported="false" />
        <activity
            android:name=".EbeveynBanyosu"
            android:exported="false" />
        <activity
            android:name=".ses_sistemi"
            android:exported="false" />
        <activity
            android:name=".Monitor"
            android:exported="false" />
        <activity
            android:name=".calisma_odasi_kilit"
            android:exported="false" />
        <activity
            android:name=".MasaLambasi"
            android:exported="false" />
        <activity
            android:name=".akilli_kilit"
            android:exported="false" />
        <activity
            android:name=".CocukOdasi"
            android:exported="false" />
        <activity
            android:name=".CalismaOdasi"
            android:exported="false" />
        <activity
            android:name=".birinci_kat"
            android:exported="false" />
        <activity
            android:name=".zeminKat"
            android:exported="false" />
        <activity
            android:name=".kayit_ol"
            android:exported="false" />
        <activity
            android:name=".sifremi_unuttum"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".giris_ekrani"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>